@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  
}

body {
  font-family: "Raleway", sans-serif;
  
  
}
#about{
  clip-path: inset(19% 0 18% 0);
  background: #1204273b;
  
 
  padding: 12rem 12rem;
  padding-left: 56px;
  padding-right: 77px;
 
 
}
.about-container{
  display: flex;
  align-items: center;
  
}
.about-container .flex-1{
  
  font-size: 1.2rem;
 
  color:#190525;
  font-weight: 400;
}
section#about p{
  line-height: 1.2;
}
#main {
  position: relative;
  height: 45rem;
  color: #fff;
}
.about-container .flex-1 h1{
  font-weight: 500;
  padding-top:4.5rem ;
  color:#190525;
}
.about-container .flex-1 span{
  color: #E82525;
}

.about-container .flex-1 .social{
  padding:1.5rem;
}
.about-container .flex-1 .social a {
  padding: 0.5rem;
  
}

.about-container .flex-1 h3{
  padding-bottom:0.3rem ;
  font-weight: 500;
  color: #E82525;;
}





@media(max-width:996px){
  #about{
    clip-path: inset(22% 0 22% 0);
   padding-left:18px;
   padding-right: 18px;
   
  }
  
  /* .about-container{
    display: grid;
    align-items: center;
  } */
  .about-container .flex-1 h3{
    font-size: 1.3rem;
  }
  .about-container .flex-1 .social img{
   height: 30px;
  }
  .about-container .flex-1 .social{
    padding-top: 0px;
  }
  .about-container .flex-1 .my-image{
    height: 300px;
  }
  /* .about-container .flex-1{
   padding: 0 0;
 }
  .about-container .my-image{
   height: 15rem;
  }
  
  .about-container .flex-1 .social{
    padding: 0;
    padding-bottom: 8rem;
    
  }

  .about-container .flex-1 h1{
    padding-top: 2.5rem;
  }
  clip-path: inset(9% 0 11% 0); */
  
}

@media(max-width:710px){

  #about{
    clip-path: inset(9% 0 11% 0);
  }
.about-container{
    display: grid;
    align-items: center;
    grid-template-columns:  1fr ;
  }
  .about-container .flex-1 {
    text-align: center;
  }
}

@media(max-width:387px){
  .about-container .flex-1 .my-image{
    height: 200px;
  }
  .about-container .flex-1 .social img{
    height: 20px;
   }
   .about-container .flex-1 h1{
     padding-top: 20px;
   }
}

























.main-container {
  position: absolute;
  background: url(../images/bg.png);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  
  z-index: -1;
}

.main-container:after {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
}





.navbar {
  position: absolute;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.315);
}


.navbar h1:hover {
  color: #ff5252;
}

.navbar ul {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 40px;
  transition: transform 0.5s;
  font-size: 100%;
}

.navbar ul li a:hover {
  border-bottom: 1px solid#ff5252;
  color: #ff5252;
  padding-bottom: 5px;
  font-weight: 700;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height:41rem;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.page-content h1 {
  font-size: 36px;
  margin-bottom: 12px;
}

.page-content h3 {
  font-size: 18px;
  margin-bottom: 35px;
}

.page-content h3 span {
  color: #ff5252;
}

.page-content a {
  text-decoration: none;
  color: #ffffff;
  display: inline;
  background-color: #ff5252;
  padding: 10px 30px;
  border: none;
}

.page-content a:hover {
  transition: transform 0.3s;
  background-color: #e82525;
}



















@media only screen and (max-width:850px) {
  .navbar {
    flex-direction: column;
    padding: 20px 20px;
  }

  .navbar h1 {
    margin-bottom: 15px;
  }

  .navbar ul li a {
    margin-left: 20px;
    font-size: 15px;
  }

  .page-content {
    padding: 0 20px;
  }

  .page-content h1 {
    font-size: 28px;
  }

  .page-content h3 {
    font-size: 16px;
  }
}


